*{
    margin: 0;
    padding: 5;
    font-family: Century Gothic;
}
header{
    height :100vh;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top;
    background-color:rgb(213, 217, 223);

    position: relative;
}


 ul li{
    display: inline-block;
    padding: 5;
}
ul{
    list-style-type: none;
float: right;
margin-bottom: 10px;
margin-top:20px;
}
ul li a {
    text-decoration: none;
    color: blue;
    padding:5px 20px;
    border:2px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:rgba(0, 0, 0, 0.829)
   
}
.btn:hover{
    background-color:rgb(18, 99, 22);
    transition: 0.6s ease;
}




